@import "nullstyle.scss";

//подключение шрифтов
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
//------

*{
    font-family: Montserrat;
}

$fzLogo: 40px;
$mainOrange: #FC9B09;
$mainWhite: #FFFFFF;

@mixin logo($f, $h, $w) {
    font-size: $f;
    line-height: $h;
    font-weight: $w;
}

@mixin widheig($w, $h) {
    width: $w;
    height: $h;
}

@mixin photo(){
    width: (100% - 4%) / 4;
    box-sizing: border-box;
    height: 185px;
    margin: 0.5%;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.head{
    p {
        margin: 10px;
        line-height: 17px;
    }
    &__moscow{
        display: none;
        line-height: 35px;
    }
    &__man{
        display: none;
    }
    &__text{
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    };
    &__hely{
        font-size: 28px;
        line-height: 17px;
        margin: 7px;
    };
    &__number{
        font-size: 14px;
        line-height: 17px;
        color: #37373F;
    };
    &__tel{
        font-size: 14px;
        line-height: 17px;
        color: #B3B3B3;
    }
}

.main{
    background: url(../image/helimain.jpg) center center / cover;
    height: 840px;
    max-width: 100%;
    color: $mainWhite;
    &__text{
        padding-top: 280px;
        max-width: 1140px;
        margin: 0 auto;
        &__big{
            @include logo($fzLogo, 50px, bold);
            span{
                color: $mainOrange;
            }
        }
        
    }
    &__price{
        margin-top: 30px;
        @include widheig(225px, 100px);
        background: $mainOrange;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        .price_in{
            .text_price {
                font-size: 20px;
            }
            p{
                font-weight: 800;
                font-size: 35px;
            }
        }
        .procent {
            border-radius: 50%;
            @include logo(35px, 55px, 800);
            border: 1px solid $mainWhite;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
            padding-left: 14px;
            flex-basis: 28%;
            line-height: 55px;
        }
    }
    &__btn{
        margin-top: 10px;
        @include widheig(305px, 70px );
        background-color: Transparent;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        border: 3px solid $mainWhite;
        box-sizing: border-box;
        color: $mainWhite;
    }
}



.mainWrapper{
    max-width: 1140px;
    margin: 0 auto;
    &__info{
        margin-top: 70px;
        display: flex;
        &__up{
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            color: #37373F;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #37373F;
    }
    &__sub{
        padding-top: 20px;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
    }
    &__text{
        padding-top: 22px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        img{
            padding-right: 12px; 
        }
    }
    &__cup{
        display: flex;
        align-items: center;
        margin-top: 34px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 0.5px solid #C7C7C7;
        border-bottom: 0.5px solid #C7C7C7;
        font-size: 17px;
        line-height: 26px;
        color: #37373F;
    }
    &__cup_block{
        display: flex;
        img{
            height: 20px;
            vertical-align: center;
        }
    }
    &__star{
        padding-left: 12px;
    }
    img{
        padding-right: 12px;
        vertical-align: center;
    }
    span{
        font-weight: 600;
    }
    &__video{
        img{
            max-width: 570px;
        }
    }
}

.container{
    border-bottom: 0.5px solid #C7C7C7;
    overflow: hidden; 
    &__title{
        font-weight: 500;
        font-size: 30px;
        line-height: 29px;
        margin: 40px 5px 25px 5px;
    }
    &__photo{
        display: flex;
        flex-wrap: wrap;
        .photo_block{
            @include photo()
        }
        .photo_first{
            background: url(../image/photo1.png) center center / cover;
            
        }
        .photo_two{
            background: url(../image/photo2.png) center center / cover;
            
        }
        .photo_three{
            background: url(../image/photo3.png) center center / cover;
            
        }
        .photo_four{
            background: url(../image/photo4.png) center center / cover;
            
        }
    }
    &__slide{
        text-align: center;
        margin: 15px;
    }
    &__slider{
        p{
            color: #5286EC;
        }
        
    }
    .toggle{
        display: none;
        .photo_toggle_block{
            display: flex;
            flex-wrap: wrap;
        }
    }
    .owl-carousel{
        display: none;
        overflow: hidden;
        .photo_block{
            height: 185px;
            margin: 0 auto;
            flex-basis: 270px ;
            margin: 7% ;
            flex-wrap: nowrap;
            display: -webkit-box;
        }
        .photo_first{
            background: url(../image/photo1.png) center center / cover;
            
        }
        .photo_two{
            background: url(../image/photo2.png) center center / cover;
            
        }
        .photo_three{
            background: url(../image/photo3.png) center center / cover;
            
        }
        .photo_four{
            background: url(../image/photo4.png) center center / cover;
            
        }
    }

}



.bold_text{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.organizate{
    margin-top: 50px;
    border-bottom: 0.5px solid #C7C7C7;
    display: flex;
    &__info{
        max-width: 55%;
        .blue{
            font-size: 14px;
            color: #5286EC;
            cursor: pointer;
        }
        .slide_all_info{
            display: none;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin: 20px;
        }
    }
    &__maria{
        margin: 0 auto;
    }
    &__center{
        position: relative;
        width: 200px;
        text-align: center;
        img{
            position: absolute;
            top: 0;
            right: 0;
        }
        .photo_maria{
            margin: 0 auto;
            background: url(../image/Ellipse.png) center center/ cover;
            @include widheig(150px,150px )
        }
        a{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #5286EC;
        }
    }
}

.shooting{
    &__logo{
        margin: 25px;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
    }
    &__table{
        border: 0.5px solid #C7C7C7;
        max-width: 770px;
    }
    &__days{
        padding: 20px;
        font-size: 18px;
        line-height: 26px;
        .number_day {
            font-weight: 500;
        } 
    }
    &__sign{
        padding: 20px;
        border-top: 0.5px solid #C7C7C7;
        display: flex;
        justify-content: space-between;
    }
    &__text{
        .time{
            font-size: 18px;
            line-height: 26px;
        }
        .price_sign{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        .left{
            font-size: 18px;
            line-height: 26px;
        }
    }
    &__btn{
        margin: auto 0; 
        button{
            border: 2px solid $mainOrange;
            box-sizing: border-box;
            border-radius: 3px;
            background-color: white;
            width: 130px;
            height: 50px;
            color: $mainOrange;
        }
    }
    &__stars{
        display: flex;
        align-items: center;
        margin-top: 34px;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        padding: 25px;
        .star{
            padding-left: 12px;
            height: 20px;
        }
        img{
            padding-right: 12px;
            vertical-align: center;
        }
        span{
            font-weight: 600;
            }
    }
}

.flex{
    position: relative;
    &__map{
        max-width: 1140px;
        margin: 0 auto;
        z-index: 2222;
    }
    &__pop{
        position: absolute;
        left: 380px;
        top: 30px;
        width: 420px;
        height: 470px;
        background: $mainWhite;
    }
    &__content_map{
        display: flex;
        margin: 20px; 
        p{
            font-size: 16px;
            line-height: 25px;
        }
        .bold{
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
        }
        .blue{
            color:#5286EC;
            font-size: 14px;
            line-height: 20px;
        }  
    }
    &__maria_logo{
        margin: 10px;
        background: url(../image/Ellipse.png) center center/ cover;
        @include widheig(60px, 60px)
    }
    &__number{
        margin: 10px;
        @include widheig(60px, 60px);
        background: $mainOrange;
        border-radius: 50%;
        p{
            text-align: center;
            margin-top: 35%;
            color: $mainWhite;
            font-size: 40px; 
        }
    }
    &__content{
        margin: 10px;
        line-height: 30px;
        p{
            font-size: 16px;
            line-height: 25px;
        }
        .bold{
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
        }
        .blue{
            color:#5286EC;
            font-size: 14px;
            line-height: 20px;
        }      
        
    }
    
}


.telephone{
    border: 0.5px solid #C7C7C7;
    left: 380px;
    top: 30px;
    max-width: 420px;
    display: none;
    background: $mainWhite;
    
    &__number_cont{
        position: relative;
        display: flex;
        height: 140px;
        .prev{
            position: absolute;
            top: 80px;
            left: 0;
            font-size: 40px;
            z-index: 1111;
            cursor: pointer;
        }
        .next{
            position: absolute;
            top: 80px;
            right: 0;
            font-size: 40px;
            z-index: 11111;
            cursor: pointer;
        }
        
    }

    &__number{
        margin: 0 auto;
        @include widheig(60px, 60px);
        background: $mainOrange;
        border-radius: 50%;
        padding-top: 1px;
        p{
            text-align: center;
            margin-top: 20%;
            color: $mainWhite;
            font-size: 40px;
        }
    }
    &__content{
        margin: 10px;
        line-height: 30px;
        
        p{
            font-size: 16px;
            line-height: 25px;
        }
        .bold{
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
        }
        .blue{
            color:#5286EC;
            font-size: 14px;
            line-height: 20px;
        }
    }  
    &__map_content{
        position: absolute;
        opacity: 0;
        display: block;
        min-width: 100%;
        text-align: center;
        margin-top: 35px;
        .photo_maria_logo{
            margin: 10px;
            background: url(../image/Ellipse.png) center center/ cover;
            height: 60px;
            min-width: 60px;
        }
        
        
    }
    .show{
        opacity: 1;
    }
    &__maria{
        min-width: 100%;
        text-align: center;
        margin-top: 35px;
        .photo_maria_logo{
            margin: 10px;
            background: url(../image/Ellipse.png) center center/contain no-repeat;
            height: 100px;
            min-width: 60px;
        }
        .number{
            margin: 0 auto;
            @include widheig(60px, 60px);
            background: $mainOrange;
            border-radius: 50%;
            padding-top: 1px;
            p{
                text-align: center;
                margin-top: 35%;
                color: $mainWhite;
                font-size: 40px;
            }
            
        }
        .content{
            margin: 10px;
            line-height: 30px;
            
            p{
                font-size: 16px;
                line-height: 25px;
            }
            .bold{
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
            }
            .blue{
                color:#5286EC;
                font-size: 14px;
                line-height: 20px;
            }
        }
        
    }
    
}

.map{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    .yandex_map{
        width: 100%;
        height: 520px;
    } 
}



.reviews{
    &__content{
        max-width: 1140px;
        margin: 0 auto; 
    }
    &__text{
        font-weight: 500;
        font-size: 20px;
        line-height: 29px; 
    }
    &__all{
        width: 60%;
    }
    &__rev{
        margin: 35px;
        display: flex;
    }
    &__photo{
        margin-right: 20px;
        min-width: 100px;
        height: 100px;   
    }
    &__all_text{
        border-bottom: 0.5px solid #C7C7C7;  
    }
    &__name{
        margin: 7px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;  
    }
    &__proffesion{
        margin: 7px;
        font-size: 14px;
        line-height: 21px; 
    }
    &__main_text{
        margin: 7px;
        font-size: 16px;
        line-height: 24px;
        .stars{
            display: flex;
            font-size: 14px;
            line-height: 30px;
            color: #B3B3B3;;
            
        }   
    }
    &__date{
        margin: 7px;
        font-size: 14px;
        line-height: 21px;
        color: #B3B3B3;   
    }
}

.ok{
    color: #B3B3B3;
    font-size: 13px;
    img{
        margin-left: 25px;
    }
}

.all{
    text-align: center;
    margin: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #5286EC;
    &__reviews{
        margin: 35px;
        display: flex;
        max-width: 55%;
        text-align: center;
        text-align: left;
        color: black;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;  
    }
}

.slide_all_reviews{
    display: none;
}

.reviews__stars{
    display: flex;
}

.footer{
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;  
    &__hely{
        font-size: 28px;
        line-height: 17px;
        margin: 15px;
    }
    &__btn{
        display: flex;
        margin: 15px;
        .vk{
            background: url(../image/vk.svg) center center / contain no-repeat;
            
            @include widheig(25px,25px );
            margin: 10px;
        }
        .faceb{
            background: url(../image/Facebook.svg) center center / contain no-repeat;
            
            @include widheig(25px,25px );
            margin: 10px;
        }
        .inst{
            background: url(../image/Instragram.svg) center center / contain no-repeat;
            
            @include widheig(25px,25px );
            margin: 10px;
        } 
    }
}
    
.support{
    background: #FAF9F8;
    &__pay{
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        .mc{
            background: url(../image/mc.svg) center center / contain no-repeat;
            @include widheig(35px,35px);
            margin: 10px;
        }
        .visa{
            background: url(../image/visa.svg) center center / contain no-repeat;
            @include widheig(35px,35px);
            margin: 10px;
        }
    }
    &__vm{
        flex-basis: 40%;
        display: flex;
    }
    &__num{
        margin: 15px;
        font-size: 14px;
        line-height: 17px;
        color: #B3B3B3;
        text-align: center;  
    }
}
.reviews__all{
    width: 80% !important;
}
.reviews__name{
    color: black;
    text-align:left;
}
.reviews__proffesion{
    color: black;
    text-align: left;
}
.reviews__main_text{
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}



.all_screen {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.493);
    z-index: 99999;
    .pop_up {
        animation: fadeInUp 1s;
        text-align: center;
        display: block;
        max-width: 500px;
        background: $mainWhite;
        margin: 0 auto;
        margin-top: 6%;
        border-radius: 5px;
        form{
            .modal_title{
                padding-left: 15px;
                margin-bottom: 30px;
                padding-top: 35px;
                font-weight: 600;
                font-size: 22px;
                line-height: 33px;
                text-align: center;
                color: #37373F;
                
            }
            .m_t{
                padding-top: 10px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #37373F;
                text-align: left;
                margin: 10px 0 0 40px;
                span{
                    color: red;
                }
            }
            input{
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
                border-radius: 3px;
                width: 420px;
                height: 44px;
                transition: .2s;
                padding: 10px 10px;
            }
            .block{
                input{
                    border: 1px solid #C7C7C7;
                    box-sizing: border-box;
                    border-radius: 3px;
                    height: 44px;
                    width: 210px;
                    // padding: 10px 10px;
                }
            }
            .check{
                display: flex;
                text-align: center;
                .check_text{
                    margin-left: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: left;
                    color: #37373F;
                }
                input{
                    margin-left: 40px;
                    width: 20px;
                }
            }
            .footer_modal{
                button{
                    width: 380px;
                    height: 72px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: $mainWhite;
                    background: $mainOrange;
                    border-radius: 3px;
                    margin: 30px;
                }
            }
        }
        
    }
    
} 
.check{
    input{
        width: 10px;
        height: 1px;
    }
    .check_text{
        font-size: 12px !important;
    }
    
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

@media screen and (max-width: 1000px){
        .head__text{
            justify-content: space-between;
        }

        .head__man{
            display: block;
            margin: 7px;
        }
    
        .mainWrapper__info{
            // display: block;
            flex-direction: column-reverse;
            text-align: center;
        }
        .info_text {
            margin: 0 auto;
        }
        .reviews__all{
            width: 100% !important;
        }
        .reviews__name{
            color: black;
            text-align:left;
        }
        .reviews__proffesion{
            color: black;
            text-align: left;
        }
        .reviews__main_text{
            color: black;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
        }
    
    
}

@media screen and (max-width: 450px){
    .head__moscow{
        display: block;
    }
    .head__number{
        display: none;
    }
    .container__slider{
        display: none !important;
    }
    .telephone{
        display: block !important;
    }

    .flex__map{
        display: none !important;
    }

    .text_in_image{
        .text{
            font-size: 34px !important;
        }
    }

    .all_reviews{
        display: block !important;
    }
    .shooting__stars{
        text-align: center;
        display: block !important;
    }

    .pop_up {
        form{
            font-size: 20px !important;
            
            
            .modal_title{
                padding-top: 5px !important ;
            }
            p{
                text-align: center !important;
                margin: 2px !important;
            }
            input{
                width: 200px !important;
                height: 26px !important;
            }
            
        }
        
        
    }
    
    .footer_modal{
        button{
            width: 200px !important;
            height: 40px !important;
        }
    }

    .mainWrapper__video{
        img{
            max-width: 290px !important;
        }
    }
    
    .mainWrapper__info{
        // display: block;
        flex-direction: column-reverse;
        text-align: center;
    }
    .mainWrapper__text {
        margin: 0 auto;
    }

    .organizate{
        flex-direction: column-reverse;
    }
    .organizate__info{
        margin: 0 auto;
        max-width: 100% !important;
        // text-align: center;
    }
    .shooting__logo {
        text-align: center;
    }
    .shooting__days{
        text-align: center;
    }
    .shooting__sign{
        display: block !important;
        
    }
    .shooting__button{
        margin-top: 15px;
    }
    .center_block{
        margin-top: 50px;
    }
    .reviews__text{
        text-align: center;
    }
    .container__photo{
        display: none !important;
    }
    .owl-carousel{
        display: -webkit-box !important;
    }
    .slide_photo {
        display: none;
    }
    .reviews__photo{
        margin-top: 40px;
        text-align: center;
    }
    .reviews__name{
        color: black;
        text-align: center;
    }
    .reviews__proffesion{
        color: black;
        text-align: center;
    }
    .reviews__main_text{
        color: black;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
    }
    .reviews__stars{
        display: block !important;
        text-align: center;
    }
    .reviews__rev{
        margin-top: 20px;
        display: contents !important;
    }
    .ok{
        img{
            margin-left: 0 !important
        }
    }
    
    .mainWrapper__cup_block{
        display: block !important;
        text-align: left;
        img{
            height: 20px;
        }
        
    }

}